.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    min-width: 300px;
    max-width: 350px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    overflow: hidden;
}
.card  img {
    width: 100%;
    height: auto;
}
.card .card-content {
    padding: 10px;
}

